[submodule "frog-orchestrator"]
	path = frog-orchestrator
	url = https://github.com/netgroup-polito/frog-orchestrator
[submodule "frog-service-layer"]
	path = frog-service-layer
	url = https://github.com/netgroup-polito/frog-service-layer
[submodule "vnfs"]
	path = vnfs
	url = https://github.com/netgroup-polito/vnfs
[submodule "openstack-plus"]
	path = openstack-plus
	url = https://github.com/netgroup-polito/openstack-plus
