
html {
    height: 100%;
    width: 100%;
}
 
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /*font-size: 13px;*/
    color: #000000;
    width: 100%;
    height: 100%;
}
 
p {
    padding: 10px;
}
 
#container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
 
#contentwrap {  
    width: 80%;
    height: 50em;
    float: left;
    margin: 0 auto;
}
 
#content {
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    margin: 7px;
    height: 100%;
    position: relative;
}
 
#menuwrap {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    width: 20%;
    height: 50em;
    float: left;
    margin: 0 auto; 
}
 
#menu {
    width: 100%;
    background: #F2F2F2;
    border-radius: 3px;
    border: 2px solid #cdcdcd;
    margin: 7px;
    height: 47em;
    box-shadow: -3px 2px 6px -2px #C7C7C7 inset, -1px 0px 0px 0px #CCC inset;
    padding: 20px;
 
}           
#menu h1 {
    text-align: center;
    font-size: 24px;
    padding: 0.5em;
    color: #d93c27; 
}
 
.tool{
 
    padding-top: 10%;
}
 
#draggable2 { 
    width: 100px; 
    height: 100px; 
    padding: 0.5em; 
    float: left; 
    padding-top: 20px;
    margin: 0 10px 10px 0; 
}
 
#menu div, #menu p {
    text-align: center;
    font-size: 1.2em;
    /*font-family: anivers;*/
    color: #6E6E6E;
 
}
 
#link {
    margin-left: 20%;
    margin-right: 20%;
}
 
#link div {
    background-color: #333355;
    width: 140px;
    height: 2px;
}
 
#vnf div {
    width: 140px;
    height: 60px;
    background-color: #FFFFCC;
    border-radius: 15px;
    border: 2px solid #151e12;
}
 
 
#footerwrap div{
    position: relative;
    clear: both;
    margin-top: -50px;  
    height: 50px;
}
 
.page-header{
    font-size: 36px;
    padding-left: 10px;
}
.sep {
    border-bottom: 1px solid #C0C1C2;
    margin: 10px;
}
 
.dialogcss {
    width: 450px; 
    margin: 20px 0; 
}
 
 
 
div#vnfSettingsPanel { width: 450px; margin: 20px 0; }
div#vnfSettingsPanel table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#vnfSettingsPanel table th { background-color: #727272; border: 1px solid #D6D6D6; padding: .6em 10px; text-align: center; }
div#vnfSettingsPanel table td { border: 1px solid #D6D6D6; padding: .6em 10px; text-align: center; }
div#vnfSettingsPanel fieldset { padding:0; border:0; margin-top:25px; }
div#vnfSettingsPanel h1 { font-size: 1.2em; font-weight: bold; margin: .6em 0; }
div#vnfSettingsPanel p { font-size: 1.1em; font-weight: bold; margin: .6em 0; font-style: italic; }
div#vnfSettingsPanel input { width: 70%; }

 
 
div#splittermergerPanel { width: 450px; margin: 20px 0; }
div#splittermergerPanel table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#splittermergerPanel table th { background-color: #727272; border: 1px solid #D6D6D6; padding: .6em 10px; text-align: center; }
div#splittermergerPanel table td { border: 1px solid #D6D6D6; padding: .6em 10px; text-align: center; }
div#splittermergerPanel fieldset { padding:0; border:0; margin-top:25px; }
div#splittermergerPanel h1 { font-size: 1.2em; font-weight: bold; margin: .6em 0; }
div#splittermergerPanel p { font-size: 1.1em; font-weight: bold; margin: .6em 0; font-style: italic; }
 
div#addrulePanel { width: 450px; height: 700px; margin: 20px 0; }
div#addrulePanel table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#addrulePanel table th { background-color: #727272; border: 1px solid #D6D6D6; padding: .6em 10px; text-align: center; }
div#addrulePanel table td { border: 1px solid #D6D6D6; padding: .6em 10px; text-align: center; }
div#addrulePanel fieldset { padding:0; border:0; margin-top:25px; }
div#addrulePanel h1 { font-size: 1.2em; font-weight: bold; margin: .6em 0; }
div#addrulePanel p { font-size: 1.1em; font-weight: bold; margin: .6em 0; font-style: italic; }


.ui-tooltip {
	padding: 0;
	margin: 0;
	width: 120px;
	height: 16px;
	text-align: center;
	line-height: 11px;
    font-size: 10pt;
    font-family: Calibri;
    font-weight: bold;
}

