html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #EAEBE5 url('../images/frog-background.jpg') no-repeat center;
	background-size: cover;
}

.login-container {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    width: 300px;
    padding: 3em 3em;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
    padding: 8px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
}

.form-signin:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: rgb(104, 145, 162);
    padding: 0px;
	font-size: 14px;
	font-weight: normal;
    height: 36px;
    border-radius: 3px;
    border: none;
    transition: all 0.218s;
    color: #fff;
    background-color: #337ab7;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}


.messageError {
	padding: 10px;
	margin-bottom: 20px;
	border: 2px solid #FF4D4D;
	border-radius: 5px;
	background-color: #FFE5E5;
	font-weight: bold;
	color: red;
}

/*=================
 * RESPONSIVE
 ==================*/
@media all and (max-width: 910px) {
	.login-container {
	    width: 70%;
	}
}