.header {
	position: fixed;
	width: 100%;
	top: 0px;
	background-color: #80A926;
	z-index: 100;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.title {
	color: #ffffff;
	font-size: 24px;
	padding-top: 10px;
	padding-left: 2%;
	float: left;
}

.nav {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 2%;
}

.nav > li > a {
	padding: 0px;
}

.btn {
	margin: 0px;
}

.section {
	position: relative;
	background: #EAEBE5 url('/static/images/frog-background.jpg') no-repeat center;
	/*background-color: #EAEBE5;*/
	margin-top: 55px;
	padding-left: 8%;
	padding-right: 8%;
	min-height: 630px;
	border-bottom: 1px solid;
}

#list-available {
	margin-top: 20px; 
	background-color: #F7F7F7;
	width: 500px;
	float: left;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#list-your {
	margin-top: 20px; 
	background-color: #F7F7F7;
	width: 500px;
	float: right;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.description {
	margin: 10px;
	text-align: center;
	font-size: 16px;
}


#sortable1, #sortable2{ 
	list-style-type: none;
	padding: 5px; 
	height: 450px;
	overflow: auto;
}

#sortable1.applist {
	height: 515px;
}

#sortable1 li, #sortable2 li { 
	margin: 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	font-size: 1em;
}

#sortable1 li span.price, #sortable2 li span.price { 
	float: right;
	margin-right: 1em;
}

#sortable2 li.empty-placeholder{
	border: 1px dashed #555;
	font-size: 14px;
	text-align: center;
	background: #fefefe;
	color:#555;
	height: 440px;
	line-height: 300px;
}

#submit_button {
	float: right;
	margin-top: 10px;
}

.footer {
	margin: 10px;
}

#response_message {
	margin-top: 15px;
}

.messageSuccess {
	background-color: #D9FFB3;
	border: 2px solid #69CC00;
	padding: 10px;
	font-weight: bold;
	margin-bottom: 10px;
}

.messageError {
	background-color: #FFE5E5;
	border: 2px solid #FF4D4D;
	padding: 10px;
	font-weight: bold;
	margin-bottom: 10px;
}

#upload_img {
	margin-top: 10px;
	float: left;
}

#user_img {
	margin-left: 10px;
	display: inline;
}

.check_app {
	float: right;
	margin-right: 15px !important;
}

.label_in {
	margin-right: 10px;
}

#startLoader {
    background: #EAEBE5 url('/static/images/loading_transparent.gif') no-repeat center;
    text-align: center;
    position: fixed;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
}