<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		{% load staticfiles %}
		<link rel="stylesheet" href={% static "jquery-ui.css" %}>
		<link rel="stylesheet" href={% static "jquery-ui.theme.css" %}>
		<link rel="stylesheet" href={% static "bootstrap.css" %}>
		<link rel="stylesheet" href={% static "bootstrap-theme.css" %}>
		<link rel="stylesheet" href={% static "style.css" %}>
		<script type="text/javascript" src={% static "jquery.js" %}></script>
		<script type="text/javascript" src={% static "jquery-ui.js" %}></script>
		<script type="text/javascript" src={% static "jquery.cookie.js" %}></script>
		<script type="text/javascript">
		$(function(){
			$( "#sortable1" ).sortable();
			$( "#sortable1" ).disableSelection();
			
			$(".navbar-btn").bind("click",function (event) {
				$('#startLoader').show();
			});
			
			$("#submit_button").bind("click",function (event) {
				$('#startLoader').show();
			});
			
			{% if response_message != '' %}
				{% if response_message == 'fail' %}
				$("#response_message").html("Upload error");
				$("#response_message").addClass("messageError");
				{% elif response_message == 'success' %}
				$("#response_message").html("Application uploaded successfully");
				$("#response_message").addClass("messageSuccess");
				{% endif %}
			setTimeout(function() { $('#response_message').hide(800); }, 5000 );
			{% endif %}
		});
		
		$(window).load(function() {
		    $('#startLoader').hide();
		});
		</script>
	</head>
	
	<body>
		
		<div id="startLoader"> </div>
		
		<!-- Start Header -->
		<header class="header">
			<div class="title">MyStore - Upload your application</div>
			<div class="nav">
				<nav>
					<ul class="nav nav-pills pull-right">
						
						<li role="presentation"><a href="/store/"><button type="button" class="btn btn-default navbar-btn">myStore</button></a></li>
						<li role="presentation"><a href="/app/"><button type="button" class="btn btn-default navbar-btn">myApps</button></a></li>
						<li role="presentation"><a href="/logout/"><button type="button" class="btn btn-primary navbar-btn">Logout</button></a></li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- End Header -->
		
		<!-- Start Section -->
		<section class="section" class="list-group">
			<div id="response_message"> </div>
			<div id="upload_container">
				<form id="user_img_form" class="form-horizontal" action="/upload/" method="post" enctype="multipart/form-data">
					{% for field in form %}
					<div class="form-group {% if field.errors %}has-error{% endif %}">
						<label class="col-sm-2 control-label">{{ field.label }}</label>
						<div class="col-sm-10">
					  	{{ field }}
					  	</div>
					</div>
					{% endfor %}
					{% csrf_token %}
					<button type="submit" id="submit_button" class="btn btn-primary save_btn">Upload</button>
				</form>	
			</div>
		</section>
		<!-- End Section -->
		
		<!-- Start Footer -->
		<footer class="footer">
			<p>&nbsp;</p>
		</footer>
		<!-- End Footer -->
		
	</body>
</html>