{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_action %}{{ submit_url }}{% endblock %}
{% block form_id %}{{ form_id }}{% endblock %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}
{% block modal-header %}
    <h3>{% trans "Confirmation required." %}</h3>
{% endblock %}

{% block modal-body %}
    <p>{% trans "The selected image will be removed from the cache of the belonging node. However, the image won't be physically removed until the host runs the run_cleaner procedure. How long it takes depends on your configuration." %}</p>
    <table cellpadding="5">
        <tr>
            <td style="text-align: right">
                <strong>Image Id:</strong>
            </td>
            <td>
                {{image_id}}
            </td>
        </tr>
        <tr>
            <td style="text-align: right">
                <strong>Compute Node:</strong>
            </td>
            <td>
                {{host_name}}
            </td>
        </tr>
    </table>
    {{ form }}
{% endblock%}

{% block modal-footer %}
    <input type="submit" class="btn btn-danger pull-right" value="{{ submit_label }}" />
    <a href="{{ cancel_url }}" class="btn btn-secondary cancel close">{{ cancel_label }}</a>
{% endblock %}