{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Image Prefetching management" %}{% endblock %}

{% block page_header %}
   {% include "horizon/common/_page_header.html" with title=_("Image Prefetching Management") %}
{% endblock page_header %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
      <script type="application/javascript">
          window.setInterval(function() {
              var obj = document.getElementById('precache_auto_update');
              if (obj.checked && $(".modal, .in").size()<2) {
                  location.reload();
              }
          },10000);
      </script>
      <div class="checkbox" style="float:right;">
        <label>
          <input type="checkbox" id="precache_auto_update" /> Auto refresh page
        </label>
      </div>
    {{ tab_group.render }}
  </div>
</div>
{% endblock %}
