{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Service Graph Editor" %}{% endblock %}

{% block css %}
  {% include "_stylesheets.html" %}
  {% include "project/service_graph/sg_stylesheets.html" %}
{% endblock %}

{% block page_header %}
	{% include "horizon/common/_page_header.html" with title=_("Service Graph ") %}
    <div id="headerwrap">
    </div>
{% endblock page_header %}

{% block main %} 
    <div id="contentwrap">
	<div id="content" class="ui-widget-content">
	   
	</div>
    </div>
    <div id="menuwrap">
	<div id="menu">
	    	<h1>Components</h1>
	    <div class="sep"></div>

	    <div id="vnf_tool" class="tool"></div>
	    <p>Virtual Network Function</p>			

	    <div class="sep"></div>
			
	    <div id="splitter_tool" class="tool"></div>
	    <p>Traffic Splitter / Merger</p>

	    <div class="sep"></div>

	    <div id="endpoint_tool" class="tool"></div>
	    <p>Endpoint</p>

	    <div class="sep"></div>

	    <div id="lan_tool" class="tool"></div>
	    <p>LAN Network</p>
		 <div class="sep"></div>
	</div>
    </div>
    <div id="footerwrap">
	<div id="footer">
	    <p id="design_window_text">Service Graph editing window</p>
    	</div>
    </div>

    <div id="vnfPanel" title="Vnf configuration" >
		<form  id="vnf_form_1" action="" method="post">{% csrf_token %}
			<fieldset>
				<label for="name">Please select a VNF</label> 
				<br/><br/> 
				<select name="vnf" id="vnf">
				{% for vnf in vnf_list  %}	
					<option>{{vnf}}</option>
				{% endfor %}
				 </select>

			 </fieldset>
		</form>
    </div>

   <div id="vnfSettingsPanel" title="Vnf settings">
	   <form id="vnfSettingForm">
		<p></p>
		<h1>Port labels:</h1>
		<table id="port_labels" class="ui-widget ui-widget-content">
			<thead>
				<tr class="ui-widget-header">
					<th>Label</th>
					<th>Ports</th>
					<th>Type</th>
					<th>IPv4 conf</th>
					<th>IPv6 conf</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<input type="submit" class="submit" style="display:none;">
	   </form>
	</div>
	<!-- Endpoint dialog  ----------->
	<div id="endpointPanel" title="Endpoint configuration" >
		<form  id="endpoint_form">
			<fieldset>
				<label for="name">Please select the endpoint type</label> 
				<br/><br/> 
				<select name="endpoint" id="endpoint">
				{% for e in endpoint_list  %}	
					<option>{{e}}</option>
				{% endfor %}
				 </select>

			 </fieldset>
		</form>
	</div> 

	<!-------------------------------->
<!-- SplitterMerger dialog  ----------->
	<div id="splittermergerPanel" title="Traffic splitter configuration" >
		<form id="splitterSettingForm">
			<label for="splitterInput">Number of ports: </label>
			<input type="number" id="splitterInput" min="3" >
			<p></p>
			<h1>Flow rules:</h1>
			<table id="rules_table" class="ui-widget ui-widget-content">
				<thead>
					<tr class="ui-widget-header">
						<th>In</th>
						<th>Out</th>
						<th>Settings</th>
						<th>Priority</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<input type="submit" class="submit" style="display:none;">
			<input id="addrulebutton" type="button" value="Add rule" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
	   </form>
	</div> 

	
	<div id="addrulePanel" title="New rule" >
		<form id="addruleForm">
			
			<p></p>
			
			<table id="addrule_table" class="ui-widget ui-widget-content">
				<thead>
					<tr class="ui-widget-header">
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							MAC source
						</td>
						<td>
							 <input type="text" name="macsrc" value="33:33:FF:00:00:01">
						</td>
					</tr>
					<tr>
						<td>
							MAC dest
						</td>
						<td>
							 <input type="text" name="macdst" value="33:33:FF:00:00:02">
						</td>
					</tr>
					<tr>
						<td>
							IP source
						</td>
						<td>
							 <input type="text" name="ipsrc" value="192.168.0.2/24">
						</td>
					</tr>
					<tr>
						<td>
							IP dst
						</td>
						<td>
							 <input type="text" name="ipdst" value="192.168.0.3/24">
						</td>
					</tr>
					<tr>
						<td>
							VLAN id
						</td>
						<td>
							 <input type="text" name="vlanid" value="">
						</td>
					</tr>
					<tr>
						<td>
							Port source
						</td>
						<td>
							 <input type="number" name="portsrc" max="65535" min="1" value="">
						</td>
					</tr>
					<tr>
						<td>
							Port dst
						</td>
						<td>
							 <input type="number" name="portdst" max="65535" min="1" value="">
						</td>
					</tr>
					<tr>
						<td>
							Protocol
						</td>
						<td>
							 <input type="radio" name="protocol" value="UDP"> TCP<br/>
							 <input type="radio" name="protocol" value="TCP"> UDP
						</td>
					</tr>
					<tr>
						<td>
							Priority
						</td>
						<td>
							 <input type="number" min="1" max="65535" value=""> 
						
						</td>
					</tr>
					
				</tbody>
			</table>
			<input type="submit" class="submit" style="display:none;">
	   </form>
	</div> 

	<!-------------------------------->

{% endblock %}

{% block js %}
	<script>var STATIC_URL = {{STATIC_URL}}</script>
	{% include "project/service_graph/sg_scripts.html" %}
{% endblock %}






