<script src="http://code.jquery.com/jquery-1.10.2.js" type='text/javascript'></script>
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js" type='text/javascript'></script>
<script src="{{ STATIC_URL }}service_graph/js/jquery-collision.min.js" type='text/javascript'></script>
<script src="{{ STATIC_URL }}service_graph/js/jquery.ui-contextmenu.min.js" type='text/javascript'></script>

<script src="{{ STATIC_URL }}service_graph/js/svg.min.js" type='text/javascript'></script>
<script src="{{ STATIC_URL }}service_graph/js/svg.draggable.js" type='text/javascript'></script>
<script src="{{ STATIC_URL }}service_graph/js/svg.path.min.js" type='text/javascript'></script>
<script src="{{ STATIC_URL }}service_graph/js/svg.foreignobject.js" type='text/javascript'></script>

<script src="{{ STATIC_URL }}service_graph/js/sg_editor.js" type='text/javascript'></script>



<script src='{{ STATIC_URL }}horizon/lib/angular/angular-cookies.js' type='text/javascript' charset='utf-8'></script>

<script src='{{ STATIC_URL }}horizon/js/angular/controllers/dummy.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}horizon/js/angular/directives/forms.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}horizon/js/angular/horizon.conf.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}horizon/js/angular/services/horizon.utils.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}horizon/js/angular/controllers/metadata-widget-controller.js'></script>

