<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/css/jquery-ui.css">
		<link rel="stylesheet" href="/static/css/jquery-ui.theme.css">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/bootstrap-theme.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
		<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="/static/js/app.js"></script>
	</head>
	
	<body>
		<!-- Loader -->
		<div id="startLoader"> </div>
		
		<!-- Start Header -->
		<header class="header-fixed">
			<div class="header-limiter">
				<div id="title-container">
					<h1>MyApps - Set your active applications</h1>
					<h2>Define which applications are actually active by selecting the proper checkbox</h2>
				</div>
				<nav>
					<ul class="nav nav-pills pull-right">
						<a href="/store/"><button type="button" class="btn btn-default navbar-btn">myStore</button></a>
						<a href="/app/"><button type="button" class="btn btn-default navbar-btn">myApps</button></a>
						<a href="/logout/"><button type="button" class="btn btn-primary navbar-btn">Logout</button></a>
					</ul>
				</nav>
			</div>
		</header>
		
		<div class="header-fixed-placeholder"> </div>
		
		<!-- Start Section -->
		<section class="section" class="list-group">
			<div id="response_message"> </div>
			
			{% if data %}
			<div>
				<ul id="sortable1" class="list applist">
				{% for image in data %}
					<li id="psa-id_{{ image.psa_id }}" class="ui-state-default">
						{{ image.psa_name }}
						<input type="checkbox" class="check_app" name="psa_active" value="{{ image.psa_id }}" {% if image.checked %} {{ 'checked' }} {% endif %} />
					</li>
				{% endfor %}
				</ul>
			</div>
			{% else %}
			<div id="empty_app">Your application list is empty. You can select new applications in the store.</div>
			{% endif %}
			
			{% if data %}
			<button type="button" id="submit_button" class="btn btn-primary save_btn">Apply Changes</button>
			{% endif %}
		</section>
		
		<!-- Start Footer -->
		<footer class="footer">
			<p>&nbsp;</p>
		</footer>
		
		<script type="text/javascript">
		$(window).load(function() {
		    $('#startLoader').hide();
		});
		
		$(document).ready(function(){
			var showHeaderAt = 80;
			$(window).on('scroll', function(e){
				if($(window).scrollTop() > showHeaderAt) {
					$('body').addClass('fixed');
				} else {
					$('body').removeClass('fixed');
				}
			});
		});
		</script>
		
	</body>
</html>