<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/css/jquery-ui.css">
		<link rel="stylesheet" href="/static/css/jquery-ui.theme.css">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/bootstrap-theme.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
		<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="/static/js/store.js"></script>
	</head>
	
	<body>
		<!-- Loader -->
		<div id="startLoader"> </div>
		
		<!-- Start Header -->
		<header class="header-fixed">
			<div class="header-limiter">
				<div id="title-container">
					<h1>MyStore - Customize your network services</h1>
					<h2>Customize your service by dragging and dropping the application in the proper box</h2>
				</div>
				<nav>
					<ul class="nav nav-pills pull-right">
						<a href="/store/"><button type="button" class="btn btn-default navbar-btn">myStore</button></a>
						<a href="/app/"><button type="button" class="btn btn-default navbar-btn">myApps</button></a>
						<a href="/logout/"><button type="button" class="btn btn-primary navbar-btn">Logout</button></a>
					</ul>
				</nav>
			</div>
		</header>
		
		<div class="header-fixed-placeholder"> </div>
		
		<!-- Start Section -->
		<section class="section" class="list-group">
			<div id="response_message"> </div>
			<!-- Store -->
			<div class="list list-container-left">
				<div class="list-content">
					<div class="description">MyStore: available applications</div>
					<ul id="sortable1" class="sourceList">
					{% for image in all_app %}
						<li id="psa-id_{{ image.psa_id }}" class="ui-state-default">
							<span>{{ image.psa_name }}</span>
							<span class="price">Cost: {{ image.price }} €</span>
						</li>
					{% endfor %}
					</ul>
				</div>
				<a href="/upload/"><button type="button" class="btn btn-primary save_btn">Add your own app</button></a>
			</div>
			
			<!-- MyApps -->
			<div class="list list-container-right">
				<div class="list-content">
					<div class="description">MyApps: selected applications</div>
					<ul id="sortable2" class="targetList">
						{% if user_app %}
						<li class="empty-placeholder" style="display: list-item; display: none;">Drop here the services</li>
						{% else %}
						<li class="empty-placeholder" style="display: list-item;">Drop here the services</li>
						{% endif %}
					 	{% for image in user_app %}
						<li id="psa-id_{{ image.psa_id }}" class="ui-state-default">
							<span>{{ image.psa_name }}</span>
						</li>
						{% endfor %}
					</ul>
				</div>
				<button type="button" id="submit_button" class="btn btn-primary save_btn">Buy</button>
			</div>	
		</section>
		<!-- End Section -->
		
		<!-- Start Footer -->
		<footer class="footer">
			<p>&nbsp;</p>
		</footer>
		
		<script type="text/javascript">
		$(window).load(function() {
		    $('#startLoader').hide();
		});
		
		$(document).ready(function(){
			var showHeaderAt = 80;
			$(window).on('scroll', function(e){
				if($(window).scrollTop() > showHeaderAt) {
					$('body').addClass('fixed');
				} else {
					$('body').removeClass('fixed');
				}
			});
		});
		</script>
		
	</body>
	
</html>