<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<!-- <link rel="stylesheet" href="/static/css/bootstrap.css"> -->
		<!-- <link rel="stylesheet" href="/static/css/bootstrap-theme.css"> -->
		<link rel="stylesheet" href="/static/css/style.css">
		<script type="text/javascript" src="/static/js/jquery.js"></script>
	</head>
	
	<body>
		<!-- Loader -->
		<div id="startLoader"> </div>
		
		<!-- Start Header -->
		<header class="header-fixed">
			<div class="header-limiter">
				<div id="title-container">
					<h1>MyStore - Upload your application</h1>
				</div>
				<nav>
					<ul class="nav nav-header">
						<a href="/store/"><button type="button" class="btn btn-grey navbar-btn">myStore</button></a>
						<a href="/app/"><button type="button" class="btn btn-grey navbar-btn">myApps</button></a>
						<a href="/logout/"><button type="button" class="btn btn-blue navbar-btn">Logout</button></a>
					</ul>
				</nav>
			</div>
		</header>
		
		<div class="header-fixed-placeholder"> </div>
		
		<!-- Start Section -->
		<section class="section" class="list-group">
			<div id="response_message"> </div>
			<div id="upload_container">
				<form id="user_img_form" class="form-horizontal" action="/upload/" method="post" enctype="multipart/form-data">
					{% for field in form %}
					<div class="form-group {% if field.errors %}has-error{% endif %}" {% if field.label == 'Status'%}id="status"{% endif %}>
						<label class="col-sm-2 control-label">{{ field.label }}</label>
						<div class="col-sm-10">
					  	{{ field }}
					  	</div>
					</div>
					{% endfor %}
					{% csrf_token %}
					<button type="submit" id="submit_button" class="btn btn-blue save_btn">Upload</button>
				</form>	
			</div>
		</section>
		
		<!-- Start Footer -->
		<footer class="footer">
			<p>&nbsp;</p>
		</footer>
		
		<script type="text/javascript">
		$(function(){
			$(".navbar-btn").bind("click",function (event) {
				$('#startLoader').show();
			});
			
			$("#submit_button").bind("click",function (event) {
				$('#startLoader').show();
			});
			
			{% if response_message != '' %}
				{% if response_message == 'fail' %}
				$("#response_message").html("Upload error");
				$("#response_message").addClass("messageError");
				{% elif response_message == 'success' %}
				$("#response_message").html("Application uploaded successfully");
				$("#response_message").addClass("messageSuccess");
				{% endif %}
			setTimeout(function() { $('#response_message').hide(800); }, 5000 );
			{% endif %}
		});
		
		$(window).load(function() {
		    $('#startLoader').hide();
		});
		</script>
		
	</body>
</html>